<div *ngIf="user_logged" class="profile-page">
  <div class="">
    <div class="row">
      <div class="profile-main">
        <div class="pro-pic">
          <img
            *ngIf="user_logged.photoURL"
            class="profile-img"
            src="{{ user_logged.photoURL }}"
          />
          <img *ngIf="!user_logged.photoURL" src="assets/images/user.png" />
          <br /><br />
          <button
            type="button"
            class="btn btn-primary edit-profile-button"
            (click)="openModal(template)"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i>Edit Profile
          </button>
          <button
            type="button"
            (click)="shareProfile()"
            class="btn btn-primary edit-profile-button"
          >
            <i class="fa fa-user" aria-hidden="true"></i>Share Profile
          </button>
        </div>

        <div class="profile-content">
          <h3>Hi, I’m {{ user_logged.displayName }}</h3>
          <div class="sub-detail">
            <h6>
              <i class="fa fa-birthday-cake" aria-hidden="true"></i>
              {{ user_logged.dob.seconds * 1000 | date }}
            </h6>
          </div>
          <h4>About</h4>
          <h5 class="pre_tag">
            <pre class="show-read-more">
                {{ user_logged.bio }}
              </pre
            >
          </h5>
          <!-- Event lists -->
          <h4>{{ verifications.name }} Provided</h4>
          <h5 *ngIf="verifications.emailVerified">
            <img src="assets/images/tick.png" alt="img" />
            <span class="verifi_cont">Email address</span>
          </h5>
          <h5 *ngIf="!verifications.emailVerified">
            <img src="assets/images/cross.png" alt="img" />
            <span class="verifi_cont">Email address</span>
          </h5>
          <h5 *ngIf="verifications.phoneNumber">
            <img src="assets/images/tick.png" alt="img" />
            <span class="verifi_cont">Phone number</span>
          </h5>
          <h5 *ngIf="!verifications.phoneNumber">
            <img src="assets/images/cross.png" alt="img" />
            <span class="verifi_cont">Phone number</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />
<h4 class="heading_border">Listings</h4>

<div *ngIf="count === 0">
  NO LISTINGS
</div>

<div *ngIf="count !== 0">
  <div class="event-lists">
    <a (click)="navigate()" href="javascript:void(0)">
      {{ count }} listing(s)
    </a>
    <!-- <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <div class="card-body p-0">
              <img src="{{ item.payload.listingImageUrl }}" class="img-fluid" />
              <div
                (click)="navigate(item.id, item.payload.listingType)"
                class="card-overlay p-2"
              >
                <p class="ng">{{ item.payload.title }}</p>
                <button
                  *ngIf="item.payload.listingType === 'eventListingType'"
                  type="button"
                  class="btn btn-primary btn-sm col-12"
                  (click)="create_ticket(item.id, item.payload.userId)"
                >
                  Create ticket
                </button>
              </div>
            </div>
          </div>
        </div>
    </div> -->
  </div>
</div>

<hr />

<div class="user-reviews">
  <h4 class="heading_border">Reviews</h4>
  <app-user-reviews></app-user-reviews>
</div>

<ng-template #template>
  <app-profile-update
    [name]="name"
    [photoURL]="photoURL"
    [modalRef]="modalRef"
    [bio]="bio"
    [dob]="dob"
  ></app-profile-update>
</ng-template>
