<div *ngIf="user_logged" class="profile-page">
  <div class="">
    <div class="row">
      <div class="profile-main">
        <div class="pro-pic">
          <img
            *ngIf="user_logged.photoURL"
            class="profile-img"
            src="{{ user_logged.photoURL }}"
          />
          <img *ngIf="!user_logged.photoURL" src="assets/images/user.png" />
          <h4>{{ verifications.name }} Provided</h4>
          <h5 *ngIf="verifications.emailVerified">
            <img src="assets/images/tick.png" alt="img" />
            Email address
          </h5>
          <h5 *ngIf="!verifications.emailVerified">
            <img src="assets/images/cross.png" alt="img" />
            Email address
          </h5>
          <h5 *ngIf="verifications.phoneNumber">
            <img src="assets/images/tick.png" alt="img" />
            Phone number
          </h5>
          <h5 *ngIf="!verifications.phoneNumber">
            <img src="assets/images/cross.png" alt="img" />
            Phone number
          </h5>
          <br /><br />
          <button
            type="button"
            class="btn btn-primary edit-profile-button"
            (click)="openModal(template)"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i>Edit Profile
          </button>
          <button
            type="button"
            (click)="shareProfile()"
            class="btn btn-primary edit-profile-button"
          >
            <i class="fa fa-user" aria-hidden="true"></i>Share Profile
          </button>
        </div>

        <div class="profile-content">
          <h3>Hi, I’m {{ user_logged.displayName }}</h3>
          <div class="sub-detail">
            <h6>
              <i class="fa fa-birthday-cake" aria-hidden="true"></i>
              {{ user_logged.dob.seconds * 1000 | date }}
            </h6>
          </div>
          <h4>About</h4>
          <h5 class="pre_tag">
            <pre>
                {{ user_logged.bio }}
              </pre
            >
          </h5>
          <!-- Event lists -->
          <h4>Events List</h4>

          <div *ngIf="user_listings.length === 0">
            NO LISTINGS
          </div>

          <div *ngIf="user_listings.length !== 0">
            <div class="event-lists">
              <div class="row">
                <ng-container *ngFor="let item of user_listings">
                  <div class="col-md-6">
                    <div class="card mb-3">
                      <div class="card-body">
                        <img
                          src="{{ item.payload.listingImageUrl }}"
                          class="img-fluid"
                        />
                        <div class="row">
                            <h3 class="col-md-6">{{ item.payload.title }}</h3>
                            <button
                              *ngIf="
                                item.payload.listingType === 'eventListingType'
                              "
                              type="button"
                              class="btn btn-primary btn-sm col-md-6"
                              (click)="create_ticket(item.id, item.payload.userId)"
                            >
                              Create ticket
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <!-- Bookings List -->
          <h4>Bookings List</h4>

          <div *ngIf="user_bookings.length === 0">
            NO BOOKINGS
          </div>

          <div *ngIf="user_bookings.length !== 0">
            <div class="event-lists">
              <ng-container *ngFor="let item of user_bookings">
                <h3>{{ item.payload.description }}</h3>
                <h4>
                  {{ item.payload.dateCreated.seconds * 1000 | date: "medium" }}
                </h4>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <app-profile-update
    [name]="name"
    [photoURL]="photoURL"
    [modalRef]="modalRef"
    [bio]="bio"
    [dob]="dob"
  ></app-profile-update>
</ng-template>
