.ticket_inner {
	display: flex;
    justify-content: space-between;
    border-radius: 0;
    padding: 15px 15px 15px;
    border-bottom: 1px solid #cccccc66;
}
.ticket_div .modal-content {
    border-radius: 0;
    border: none;
}
.modal-content .ticket_inner span.badge {
    line-height: 17px;
    cursor: pointer;
}
.ticket_inner span small {
    color: #909090;
}
.ticket_div .modal-header span {
    font-size: 22px;
    cursor: pointer;
}