<div class="ticket_div">
  <div class="modal-header">
    <h3>Tickets</h3>
    <span class="pull-right" (click)="modalRef.hide()">&times;</span>
  </div>
  <div *ngIf="!loading && tickets.length !== 0" class="modal-content">
    <ng-container *ngFor="let ticket of tickets">
      <div (click)="buy_ticket(ticket.id)" class="ticket_inner">
        <span>
          {{ ticket.payload.title }} <br />
          <small>{{ ticket.payload.description }}</small>
        </span>
        <div>
          <span *ngIf="!ticket.payload.isPriced" class="badge badge-primary">
            Free
          </span>
        </div>
        <span class="badge badge-primary" *ngIf="ticket.payload.isPriced">
          {{ ticket.payload.currency }} ${{ ticket.payload.price }}
        </span>
      </div>
    </ng-container>
  </div>

  <div id="no_tickets" *ngIf="!loading && tickets.length === 0" class="modal-content">
    No Tickets !!!
  </div>

  <!-- loader -->
  <div *ngIf="loading" class="modal-content loader">
    <img src="assets/images/loader.gif" />
  </div>
  <!-- loader ends -->
</div>
