<div class="ticket_div">
  <div class="modal-header">
    <h3>Tickets</h3>
    <span class="pull-right" (click)="modalRef.hide()">&times;</span>
  </div>
  <div *ngIf="(tickets | async)?.length !== 0" class="modal-content">
    <ng-container *ngFor="let ticket of tickets | async">
      <div
        (click)="buy_ticket(ticket.id, ticket.saleEndDate, ticket.ticketsLeft)"
        class="ticket_inner"
      >
        <span>
          {{ ticket.title }} <br />
          <small>{{ ticket.description }}</small>
        </span>
        <div *ngIf="!ticket.isClosed">
          <span *ngIf="!ticket.isPriced" class="badge badge-primary">
            Free
          </span>

          <span class="badge badge-primary" *ngIf="ticket.isPriced">
            {{ ticket.currency }} ${{ ticket.price }}
          </span>
        </div>

        <div *ngIf="ticket.isClosed">
          <span>Closed</span>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- <div class="modal-content">
    <ng-container *ngFor="let ticket of tickets | async">
      {{ ticket | json }}
    </ng-container>
  </div> -->

  <div
    id="no_tickets"
    *ngIf="(tickets | async)?.length === 0"
    class="modal-content"
  >
    No Tickets !!!
  </div>

  <!-- loader -->
  <!-- <div *ngIf="loading" class="modal-content loader">
    <img src="assets/images/loader.gif" />
  </div> -->
  <!-- loader ends -->
</div>
