.card_div {
  padding: 20px 20px;
}
.card_div h2 {
  font-size: 18px;
  margin-bottom: 30px;
}
.card_div label {
  font-size: 12px;
  color: #999;
  margin: 0px;
}
.card_div input {
  background: #ddd;
  border-radius: 30px;
  border: none;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0px;
}
.card_div p {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  margin-top: 25px;
  display: block;
}
.form-group.save button {
  background: #ff5b8d;
  text-transform: uppercase;
  padding: 8px 26px !important;
  border: none;
}