<form
  *ngIf="step === 'basic'"
  [formGroup]="service_form_basic"
  (ngSubmit)="addServiceBasic()"
>
  <div class="form-area">
    <h3>Basic Information</h3>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            maxlength="50"
            id="title"
            type="text"
            class="form-control"
            placeholder="Title ..."
            formControlName="title"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            service_form_basic.controls['title'].hasError('required') &&
            service_form_basic.controls['title'].touched
          "
        >
          Please enter title
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="desc">Description</label>
          <textarea
            id="desc"
            class="form-control"
            placeholder="Description ..."
            formControlName="description"
          ></textarea>
        </div>
        <div
          class="text-danger"
          *ngIf="
            service_form_basic.controls['description'].hasError('required') &&
            service_form_basic.controls['description'].touched
          "
        >
          Please enter description
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="policy">Policy</label>
          <select formControlName="policy">
            <option value="no" selected>Free cancellation</option>
            <option value="oneDay">1 day cancellation policy</option>
            <option value="sevenDay">7 Days cancellation policy</option>
            <option value="thirtyDay">30 days cancellation policy</option>
          </select>
        </div>
        <div class="policy_desc">
          <p
            *ngIf="service_form_basic.controls['policy'].value === 'sevenDay'"
            id="cancel_policy"
          >
            Cancellation is free if done within 7 days of booking confirmation.
            <br />
            N.B. Service charges are non-refundable.
          </p>
          <p
            *ngIf="service_form_basic.controls['policy'].value === 'no'"
            id="cancel_policy"
          >
            Cancellation is free and exempt from all applicable cancellation
            charges.<br />
            N.B. Service charges are non-refundable.
          </p>
          <p
            *ngIf="service_form_basic.controls['policy'].value === 'oneDay'"
            id="cancel_policy"
          >
            Cancellation is free if done within one day of booking confirmation.
            <br />
            N.B. Service charges are non-refundable.
          </p>
          <p
            *ngIf="service_form_basic.controls['policy'].value === 'thirtyDay'"
            id="cancel_policy"
          >
            Cancellation is free if done within 30 days of booking confirmation.
            <br />
            N.B. Service charges are non-refundable.
          </p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="currency">Currency</label>
          <select id="currency" class="form-control" formControlName="currency">
            <option value="cad" selected>CAD</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
  </div>
</form>

<!-- additional part -->
<form
  *ngIf="step === 'additional'"
  [formGroup]="service_form_additional"
  (ngSubmit)="addServiceAdditional()"
>
  <div class="form-area">
    <h3>Upload a listing image</h3>
    <div class="form-group">
      <div class="upload-img">
        <img *ngIf="listing_event_image_url" [src]="listing_event_image_url" />
        <img
          *ngIf="!listing_event_image_url"
          src="assets/images/imagePlaceholder.png"
        />
        <input
          id="listing_image"
          (change)="updateSpaceImage($event)"
          type="file"
          accept="image/*"
          class="form-control"
        />
      </div>
    </div>
  </div>

  <div class="form-area">
    <h3>Service</h3>
    <div class="form-group">
      <select formControlName="service">
        <option value="">Select service...</option>
        <ng-container *ngFor="let item of services | async">
          <option value="{{ item.id }}">
            {{ item.id }}
          </option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="form-area">
    <h3>Location information</h3>
    <h5>Which city will you host your experience in?</h5>
    <div>
      <div class="form-group">
        <label for="location_address">Location address</label>
        <input
          (blur)="setCurrentPosition()"
          placeholder="Location address"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          type="text"
          formControlName="locationAddress"
          id="location_address"
          class="form-control"
          #search
        />
      </div>

      <agm-map
        [latitude]="latitude"
        [longitude]="longitude"
        [scrollwheel]="false"
        [zoom]="zoom"
      >
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
      <div
        class="text-danger"
        *ngIf="
          service_form_additional.controls['locationAddress'].hasError(
            'required'
          ) && service_form_additional.controls['locationAddress'].touched
        "
      >
        Please select location address
      </div>
    </div>
  </div>
  <div class="form-area">
    <h3>Set Daily Availability</h3>
    <!-- start time -->
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label> Daily start time</label>
          <input atp-time-picker value="19:00" formControlName="startDate" />
        </div>
        <div
          class="text-danger"
          *ngIf="
            service_form_additional.controls['startDate'].hasError(
              'required'
            ) && service_form_additional.controls['startDate'].touched
          "
        >
          Please enter start date
        </div>
      </div>
      <!-- end time -->
      <div class="col-sm-6">
        <div class="form-group">
          <label> Daily end time</label>
          <input atp-time-picker value="19:00" formControlName="endDate" />
        </div>
        <div
          class="text-danger"
          *ngIf="
            service_form_additional.controls['endDate'].hasError('required') &&
            service_form_additional.controls['endDate'].touched
          "
        >
          Please enter end date
        </div>
      </div>
    </div>
  </div>

  <div class="form-area">
    <h3>Pricing information</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="price_per_hour">Price per hour</label>
          <input
            type="text"
            class="form-control"
            formControlName="perHourPrice"
            id="price_per_hour"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            service_form_additional.controls['perHourPrice'].hasError(
              'required'
            ) && service_form_additional.controls['perHourPrice'].touched
          "
        >
          Please enter price per hour
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="min_hour">Min hours per booking</label>
          <input
            type="text"
            class="form-control"
            formControlName="minHour"
            id="min_hours"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            service_form_additional.controls['minHour'].hasError('required') &&
            service_form_additional.controls['minHour'].touched
          "
        >
          Please enter minimum hours
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
  </div>
</form>
