<div *ngIf="(jobs | async)?.length === 0">
  No Jobs
</div>

<div *ngIf="(jobs | async)?.length !== 0" class="row">
  <ng-container *ngFor="let job of jobs | async">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div *ngIf="job.isCanceled" class="cancel_div">
          <img src="assets/images/cancel.png" />
        </div>
        <div *ngIf="job.isHostApproved" class="cancel_div">
          <img src="assets/images/approved.png" />
        </div>
        <div class="card-header">
          <span class="ticket-logo">
            <img src="assets/images/logo.png" alt="logo" />
          </span>
        </div>
        <div class="card-body">
          <h4>{{ job.id }}</h4>
          <h2>${{ job.perHourPrice }} <small>per hour</small></h2>

          <ul>
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{ job.startDate }} -
              {{ job.endDate }}
            </li>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ job.hours }} hours
            </li>
          </ul>

          <div class="refund-btn">
            <button
              *ngIf="!job.isCanceled && !job.isHostApproved"
              type="button"
              (click)="approve(job.id, job.hostId, job.listingId)"
              class="pull-right btn btn-sm btn-primary"
            >
              Approve
            </button>
            <button
              *ngIf="!job.isCanceled && !job.isHostApproved"
              (click)="cancel(job.id, job.hostId, job.listingId)"
              type="button"
              class="pull-right btn btn-sm btn-primary"
            >
              Cancel
            </button>
            <button
              (click)="
                review(
                  reviewForm,
                  job.userId,
                  job.hostId,
                  job.listingId,
                  job.id
                )
              "
              type="button"
              class="pull-right btn btn-sm btn-primary"
            >
              Review
            </button>
            <button
              (click)="
                message(
                  job.id,
                  job.listingId
                )
              "
              type="button"
              class="pull-right btn btn-sm btn-primary"
            >
            Message
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #reviewForm>
  <app-review-form [review_obj]="review_obj" [modalRef]="modalRef"></app-review-form>
</ng-template>
