<form
  *ngIf="step === 'basic'"
  [formGroup]="experience_form_basic"
  (ngSubmit)="addExperienceBasic()"
>
  <div class="form-area">
    <h3>Basic Information</h3>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            maxlength="50"
            id="title"
            type="text"
            class="form-control"
            placeholder="Title ..."
            formControlName="title"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            experience_form_basic.controls['title'].hasError('required') &&
            experience_form_basic.controls['title'].touched
          "
        >
          Please enter title
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="desc">Description</label>
          <textarea
            id="desc"
            class="form-control"
            placeholder="Description ..."
            formControlName="description"
          ></textarea>
        </div>
        <div
          class="text-danger"
          *ngIf="
            experience_form_basic.controls['description'].hasError(
              'required'
            ) && experience_form_basic.controls['description'].touched
          "
        >
          Please enter description
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="policy">Policy</label>
          <select formControlName="policy">
            <option value="no" selected>No refund</option>
            <option value="oneDay">1 day refund policy</option>
            <option value="sevenDay">7 Days refund policy</option>
            <option value="thirtyDay">30 days refund policy</option>
          </select>
        </div>
        <div class="policy_desc">
          <p
            *ngIf="
              experience_form_basic.controls['policy'].value === 'sevenDay'
            "
            id="cancel_policy"
          >
            Ticket charges and all applicable processing fees are non-refundable
            7 days after purchase is completed.
          </p>
          <p
            *ngIf="experience_form_basic.controls['policy'].value === 'no'"
            id="cancel_policy"
          >
            Ticket charges and all applicable processing fees are non-refundable
            after purchase is completed.
          </p>
          <p
            *ngIf="experience_form_basic.controls['policy'].value === 'oneDay'"
            id="cancel_policy"
          >
            Ticket charges and all applicable processing fees are non-refundable
            24 hours after purchase is completed.
          </p>
          <p
            *ngIf="
              experience_form_basic.controls['policy'].value === 'thirtyDay'
            "
            id="cancel_policy"
          >
            Ticket charges and all applicable processing fees are non-refundable
            30 days after purchase is completed.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="currency">Currency</label>
          <select id="currency" class="form-control" formControlName="currency">
            <option value="cad" selected>CAD</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
  </div>
</form>

<!-- ------------------------------- -->
<!-- //////////////////////////////////////////////// -->
<!-- additional information -->
<form
  *ngIf="step === 'additional'"
  [formGroup]="experience_form_additional"
  (ngSubmit)="addExperienceAdditional()"
>
  <div class="form-area">
    <h3>Upload a listing image</h3>
    <div class="form-group">
      <div class="upload-img">
        <img *ngIf="listing_event_image_url" [src]="listing_event_image_url" />
        <img
          *ngIf="!listing_event_image_url"
          src="assets/images/imagePlaceholder.png"
        />
        <input
          id="listing_image"
          (change)="updateSpaceImage($event)"
          type="file"
          accept="image/*"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="form-area">
    <h3>Categories</h3>
    <div class="form-group">
      <ng-multiselect-dropdown
        [placeholder]="'Choose Categories'"
        [data]="dropdownList"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onItemDeselect($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="form-area">
    <h3>Location information</h3>
    <h5>Which city will you host your experience in?</h5>

    <div class="form-group">
      <label for="location_name">Location name</label>
      <input
        id="location_name"
        type="text"
        placeholder="e.g. John dior"
        formControlName="locationName"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="
        experience_form_additional.controls['locationName'].hasError(
          'required'
        ) && experience_form_additional.controls['locationName'].touched
      "
    >
      Please enter location name
    </div>
    <div>
      <div class="form-group">
        <label for="location_address">Location address</label>
        <input
          placeholder="Location address"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          type="text"
          formControlName="locationAddress"
          id="location_address"
          class="form-control"
          #search
        />
      </div>
      <agm-map
        [latitude]="latitude"
        [longitude]="longitude"
        [scrollwheel]="false"
        [zoom]="zoom"
      >
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
      <div
        class="text-danger"
        *ngIf="
          experience_form_additional.controls['locationAddress'].hasError(
            'required'
          ) && experience_form_additional.controls['locationAddress'].touched
        "
      >
        Please select location address
      </div>
    </div>
  </div>
  <div class="form-area">
    <h3>Set Date(s)</h3>
    <div class="row">
      <div class="col-sm-6">
        <!-- start Date -->
        <label>Start date</label>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            #dp="bsDatepicker"
            bsDatepicker
            [bsValue]="bsValue"
            [minDate]="minDate"
            (bsValueChange)="onValueChange($event)"
            formControlName="startDate"
            placeholder="Enter start date..."
          />
          <button
            type="button"
            class="btn btn-success"
            (click)="dp.toggle()"
            [attr.aria-expanded]="dp.isOpen"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </div>
        <div
          class="text-danger"
          *ngIf="
            experience_form_additional.controls['startDate'].hasError(
              'required'
            ) && experience_form_additional.controls['startDate'].touched
          "
        >
          Please select start date
        </div>
      </div>
      <div class="col-sm-6">
        <!-- start time -->
        <div class="form-group">
          <label>Start time</label>
          <!-- <button (click)="check_time()" type="button" class="time_main"><i class="fa fa-clock-o"></i></button> -->
          <input
            atp-time-picker
            value="19:00"
            (click)="open()"
            formControlName="startTime"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            experience_form_additional.controls['startTime'].hasError(
              'required'
            ) && experience_form_additional.controls['startTime'].touched
          "
        >
          Please enter start time
        </div>
      </div>
      <div class="col-sm-6">
        <!-- end Date -->
        <label>End date</label>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            #dp="bsDatepicker"
            bsDatepicker
            [bsValue]="bsValue"
            [minDate]="start_date"
            formControlName="endDate"
            placeholder="Enter end date..."
          />
          <button
            type="button"
            class="btn btn-success col-4"
            (click)="dp.toggle()"
            [attr.aria-expanded]="dp.isOpen"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </div>
        <div
          class="text-danger"
          *ngIf="
            experience_form_additional.controls['endDate'].hasError(
              'required'
            ) && experience_form_additional.controls['endDate'].touched
          "
        >
          Please enter end date
        </div>
      </div>
      <!-- end time -->
      <div class="col-sm-6">
        <div class="form-group">
          <label> End time </label>
          <input
            atp-time-picker
            formControlName="endTime"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            experience_form_additional.controls['endTime'].hasError(
              'required'
            ) && experience_form_additional.controls['endTime'].touched
          "
        >
          Please enter end time
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Recurrence</label>
          <select formControlName="recurrence">
            <option value="recurrenceOnce"> One time </option>
            <option value="recurrenceDaily"> Daily (+24 hours) </option>
            <option value="recurrenceWeekly"> Weekly (+1 week) </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
  </div>
</form>
