<div class="service_div">
  <!-- Nav tabs -->
  <div class="tabs-header">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#experiences"
            >Experiences</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#spaces">Spaces</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="experiences">
      <div class="card-columns" *ngIf="experiences.length !== 0">
        <ng-container *ngFor="let item of experiences">
          <div
            (click)="navigate(item.id, item.payload.listingType)"
            class="card"
          >
            <span class="cross">&times;</span>
            <div class="card-header">
              <h4>{{ item.payload.title }}</h4>
              <label>
                {{ item.startDate | date: "fullDate" }} -
                {{ item.endDate | date: "fullDate" }}
              </label>
            </div>
            <div class="card-body p-0">
              <img src="{{ item.payload.listingImageUrl }}" class="img-fluid" />
            </div>
            <div class="card-footer">
              <p>{{ item.payload.locationAddress }}</p>
              <small *ngIf="!item.payload.isFree">
                <span id="currency">{{ item.payload.currency }}</span> ${{
                  item.payload.perHourPrice
                }}
                per hour
              </small>
              <small *ngIf="item.payload.isFree">
                Free
              </small>

              <button
                class="btn btn-sm create-ticket"
                (click)="create_ticket(item.id, item.payload.userId)"
                type="button"
              >
                Create ticket
              </button>
            </div>
          </div>
        </ng-container>
      </div>

      <div *ngIf="experiences.length === 0" class="empty">
        No listing
      </div>
    </div>

    <div class="tab-pane container fade" id="services">
      <div class="card-columns" *ngIf="services.length !== 0">
        <ng-container *ngFor="let item of services">
          <div class="card">
            <span class="cross">&times;</span>
            <div class="card-header">
              <h4>{{ item.payload.title }}</h4>
              <label> {{ item.startDate | date: "fullDate" }} </label>
            </div>
            <div class="card-body p-0">
              <img
                (click)="navigate(item.id, item.payload.listingType)"
                src="{{ item.payload.listingImageUrl }}"
                class="img-fluid"
              />
            </div>
            <div class="card-footer">
              <p>{{ item.payload.locationAddress }}</p>
              <small>
                <span id="currency">{{ item.payload.currency }}</span> ${{
                  item.payload.perHourPrice
                }}
                per hour
              </small>
            </div>
          </div>
        </ng-container>
      </div>

      <div *ngIf="services.length === 0" class="empty">
        No listing
      </div>
    </div>

    <div class="tab-pane container fade" id="spaces">
      <div class="card-columns" *ngIf="spaces.length !== 0">
        <ng-container *ngFor="let item of spaces">
          <div
            (click)="navigate(item.id, item.payload.listingType)"
            class="card"
          >
            <span class="cross">&times;</span>
            <div class="card-header">
              <h4>{{ item.payload.title }}</h4>
              <label>
                {{ item.payload.sQFT }} Sqft -
                {{ item.payload.capacity }} People
              </label>
            </div>
            <div class="card-body p-0">
              <img src="{{ item.payload.listingImageUrl }}" class="img-fluid" />
            </div>
            <div class="card-footer">
              <p>{{ item.payload.locationAddress }}</p>
              <small>
                <span id="currency">{{ item.payload.currency }}</span> ${{
                  item.payload.perHourPrice
                }}
                per hour
              </small>
            </div>
          </div>
        </ng-container>
      </div>

      <div *ngIf="spaces.length === 0" class="empty">
        No listing
      </div>
    </div>
  </div>
</div>
